---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2014-01-01&enddate=2014-02-04&format=json&key=900f2167e4ae442797e144340211404&q=Napa%20Valley&tp=24%0A%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '617'
      X-Wwo-Qpd-Left:
      - '500'
      Cdn-Cachedat:
      - '2021-04-18 09:22:56'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 2083d4bbd8fbed348bacadc6fbc92a1b
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Napa Napa, Papua New Guinea"}],"weather":[{"date":"2014-01-01","astronomy":[{"sunrise":"05:55
        AM","sunset":"06:35 PM","moonrise":"05:21 AM","moonset":"06:18 PM","moon_phase":"New
        Moon","moon_illumination":"0"}],"maxtempC":"31","maxtempF":"88","mintempC":"23","mintempF":"73","avgtempC":"28","avgtempF":"83","totalSnow_cm":"0.0","sunHour":"12.8","uvIndex":"7","hourly":[{"time":"24","tempC":"31","tempF":"88","windspeedMiles":"5","windspeedKmph":"9","winddirDegree":"164","winddir16Point":"SSE","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png"}],"weatherDesc":[{"value":"Sunny"}],"precipMM":"0.0","precipInches":"0.0","humidity":"70","visibility":"10","visibilityMiles":"6","pressure":"1008","pressureInches":"30","cloudcover":"6","HeatIndexC":"29","HeatIndexF":"84","DewPointC":"20","DewPointF":"68","WindChillC":"26","WindChillF":"80","WindGustMiles":"9","WindGustKmph":"14","FeelsLikeC":"29","FeelsLikeF":"84","uvIndex":"7"}]},{"date":"2014-01-02","astronomy":[{"sunrise":"05:56
        AM","sunset":"06:35 PM","moonrise":"06:24 AM","moonset":"07:19 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"2"}],"maxtempC":"31","maxtempF":"87","mintempC":"23","mintempF":"73","avgtempC":"28","avgtempF":"83","totalSnow_cm":"0.0","sunHour":"12.8","uvIndex":"6","hourly":[{"time":"24","tempC":"31","tempF":"87","windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"172","winddir16Point":"S","weat[...]
[...]
