---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2016-01-01&enddate=2016-02-04&format=json&key=900f2167e4ae442797e144340211404&q=napa&tp=24%0A%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '617'
      X-Wwo-Qpd-Left:
      - '431'
      Cdn-Cachedat:
      - '2021-04-20 11:27:26'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 7bd49640792abade11051ec76d457256
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Napa, United States of
        America"}],"weather":[{"date":"2016-01-01","astronomy":[{"sunrise":"08:26
        AM","sunset":"05:59 PM","moonrise":"12:29 AM","moonset":"12:45 PM","moon_phase":"Last
        Quarter","moon_illumination":"50"}],"maxtempC":"8","maxtempF":"47","mintempC":"1","mintempF":"34","avgtempC":"5","avgtempF":"41","totalSnow_cm":"0.0","sunHour":"8.7","uvIndex":"2","hourly":[{"time":"24","tempC":"8","tempF":"47","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"46","winddir16Point":"NE","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png"}],"weatherDesc":[{"value":"Sunny"}],"precipMM":"0.0","precipInches":"0.0","humidity":"50","visibility":"10","visibilityMiles":"6","pressure":"1021","pressureInches":"31","cloudcover":"5","HeatIndexC":"4","HeatIndexF":"39","DewPointC":"-6","DewPointF":"21","WindChillC":"1","WindChillF":"33","WindGustMiles":"12","WindGustKmph":"19","FeelsLikeC":"1","FeelsLikeF":"33","uvIndex":"2"}]},{"date":"2016-01-02","astronomy":[{"sunrise":"08:26
        AM","sunset":"06:00 PM","moonrise":"01:25 AM","moonset":"01:15 PM","moon_phase":"Last
        Quarter","moon_illumination":"43"}],"maxtempC":"9","maxtempF":"48","mintempC":"2","mintempF":"36","avgtempC":"7","avgtempF":"44","totalSnow_cm":"0.0","sunHour":"9.7","uvIndex":"3","hourly":[{"time":"24","tempC":"9","tempF":"48","windspeedMiles":"7","windspeedKmph":"11","winddirDegree":"65","winddir16Point":"ENE","weatherCo[...]
[...]
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2016-01-01&enddate=2016-02-04&format=json&key=900f2167e4ae442797e144340211404&q=napa&tp=24%0A%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '718'
      X-Wwo-Qpd-Left:
      - '431'
      Cdn-Cachedat:
      - '2021-04-20 11:27:34'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - ea63b470c8479d4ae70ae23b28d5b55b
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":[...]
