---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2016-01-01&enddate=2016-02-04&format=json&key=900f2167e4ae442797e144340211404&q=napa%20valley&tp=24%0A%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '617'
      X-Wwo-Qpd-Left:
      - '474'
      Cdn-Cachedat:
      - '2021-04-19 12:41:18'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 8afd45cdd0676bd36c41789ef04a1711
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Napa Napa, Papua New Guinea"}],"weather":[{"date":"2016-01-01","astronomy":[{"sunrise":"05:55
        AM","sunset":"06:35 PM","moonrise":"11:43 PM","moonset":"11:20 AM","moon_phase":"Last
        Quarter","moon_illumination":"50"}],"maxtempC":"31","maxtempF":"87","mintempC":"25","mintempF":"78","avgtempC":"29","avgtempF":"83","totalSnow_cm":"0.0","sunHour":"12.8","uvIndex":"6","hourly":[{"time":"24","tempC":"31","tempF":"87","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"279","winddir16Point":"W","weatherCode":"356","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0010_heavy_rain_showers.png"}],"weatherDesc":[{"value":"Moderate
        or heavy rain shower"}],"precipMM":"10.2","precipInches":"0.4","humidity":"70","visibility":"9","visibilityMiles":"5","pressure":"1011","pressureInches":"30","cloudcover":"35","HeatIndexC":"30","HeatIndexF":"87","DewPointC":"21","DewPointF":"70","WindChillC":"27","WindChillF":"81","WindGustMiles":"13","WindGustKmph":"20","FeelsLikeC":"30","FeelsLikeF":"87","uvIndex":"6"}]},{"date":"2016-01-02","astronomy":[{"sunrise":"05:55
        AM","sunset":"06:35 PM","moonrise":"No moonrise","moonset":"12:05 PM","moon_phase":"Last
        Quarter","moon_illumination":"43"}],"maxtempC":"31","maxtempF":"88","mintempC":"25","mintempF":"78","avgtempC":"29","avgtempF":"84","totalSnow_cm":"0.0","sunHour":"12.8","uvIndex":"6","hourly":[{"time":"24","tempC":"31","tempF":"88","windspeedMiles":"9","windspeedKmph":"15","winddirDegree":"319","winddir16Point":"NW","w[...]
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2016-02-05&enddate=2016-03-11&format=json&key=900f2167e4ae442797e144340211404&q=&tp=24%0A%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '718'
      X-Wwo-Qpd-Left:
      - '474'
      Cdn-Cachedat:
      - '2021-04-19 12:41:43'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 84fa1f8e2722c7f09e3eef5f404c20e6
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{ "data": { "error": [ {"msg": "Unable to find any matching weather
        location to the query submitted!" } ] }}'
  recorded_at: Mon, 19 Apr 2021 17:41:43 GMT
recorded_with: VCR 6.0.0
