---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2017-01-01&enddate=2017-02-04&format=json&key=900f2167e4ae442797e144340211404&q=napa&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '617'
      X-Wwo-Qpd-Left:
      - '216'
      Cdn-Cachedat:
      - '2021-04-21 21:58:27'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 0f332b670e0538266e5da93ed2bc6f50
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Napa, United States of
        America"}],"weather":[{"date":"2017-01-01","astronomy":[{"sunrise":"08:26
        AM","sunset":"06:00 PM","moonrise":"10:39 AM","moonset":"09:39 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"20"}],"maxtempC":"11","maxtempF":"52","mintempC":"6","mintempF":"42","avgtempC":"9","avgtempF":"48","totalSnow_cm":"0.0","sunHour":"9.7","uvIndex":"2","hourly":[{"time":"24","tempC":"11","tempF":"52","windspeedMiles":"8","windspeedKmph":"12","winddirDegree":"257","winddir16Point":"WSW","weatherCode":"119","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0003_white_cloud.png"}],"weatherDesc":[{"value":"Cloudy"}],"precipMM":"0.1","precipInches":"0.0","humidity":"77","visibility":"10","visibilityMiles":"6","pressure":"1014","pressureInches":"30","cloudcover":"54","HeatIndexC":"8","HeatIndexF":"46","DewPointC":"4","DewPointF":"39","WindChillC":"6","WindChillF":"42","WindGustMiles":"12","WindGustKmph":"19","FeelsLikeC":"6","FeelsLikeF":"42","uvIndex":"2"}]},{"date":"2017-01-02","astronomy":[{"sunrise":"08:26
        AM","sunset":"06:01 PM","moonrise":"11:17 AM","moonset":"10:40 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"27"}],"maxtempC":"9","maxtempF":"49","mintempC":"5","mintempF":"42","avgtempC":"8","avgtempF":"46","totalSnow_cm":"0.0","sunHour":"9.8","uvIndex":"2","hourly":[{"time":"24","tempC":"9","tempF":"49","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"199","winddir16Point":"SSW","weath[...]
[...]
